
<div style="padding: 13px; margin-top: 10%;">
	<mat-card style="margin-top:10px; width : 50%">
		<mat-card-header>
			<mat-card-title>{{bookdetails[0].title}}</mat-card-title>
			<mat-card-subtitle>{{bookdetails[0].shortDescription}}
			</mat-card-subtitle>
            
		</mat-card-header>
		<mat-card-content>
            <!-- <div fxLayout="row" *ngFor="let star of bookdetails[0].rating">
                <mat-icon [style.color]="'orange'">star</mat-icon>
            </div> -->
			<p>
				<!-- {{item.description}} -->
			</p>
			<img style="height:100%; width: 100%;" [src]="bookdetails[0].thumbnailUrl" />
        </mat-card-content>
	</mat-card>
</div>