.dashboard-container{
    margin-top: 5%;
}

.book-thumbnail{
    width: 16rem;
    height: 203px;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #000000;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .authers{
    overflow:hidden
  }

  ul.authers > li {
    display:inline;
  }

  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    width: 50px;
  }

  .column-label {
    margin-right: 8px;
    font-size: 1rem;
  }

  .books-container{
    flex: inherit !important;
  }

  .price-range{
    width: 85px;
    padding: 9px;
    margin-right: 8px;
  }

  .filter-action{
    margin-left: 74px;
    padding: 7px;
    width: 3.5rem;
    font-weight: 700;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .filter-button{
    padding: 2px;
    width: 84px;
    height: 35px;
  }