<div class="app mat-typography">
  <div class="sidenav" [ngClass]="{'open': isOpen}">
    <app-sidebar (closeEmitter)="closeEmitterHandler()"></app-sidebar>
  </div>
  <main>
    <mat-toolbar color="primary" class="mat-elevation-z2">

      <div class="brand">
        Book store app
      </div>

      <div class="navbar-menu">
        <div (click)="openSearch()" class="navbar-link" *ngIf="appstate.isAutherized">
          <mat-icon>search</mat-icon>
        </div>
        <a *ngFor="let link of links" class="navbar-link" [routerLink]="[link.path]" >
          <mat-icon *ngIf="appstate.isAutherized">{{link.icon}}</mat-icon>
        </a>
        <div (click)="getAllCartItems()" class="navbar-link" *ngIf="appstate.role !== 'admin' && appstate.isAutherized">
          <mat-icon>add_shopping_cart</mat-icon>
        </div>

        <div (click)="logout()" class="navbar-link" *ngIf="appstate.isAutherized">
          <mat-icon>logout</mat-icon>
        </div>


      </div>


      <div (click)="toggleMenu()" style="cursor: pointer;" class="toggleMenu">
        <mat-icon>menu</mat-icon>
      </div>

    </mat-toolbar>
    <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
      <mat-toolbar-row style="padding: 0 5px;">
        <button class="search-icon" mat-icon-button disabled>
          <mat-icon>search</mat-icon>
        </button>
        <input class="search-control" type="text" placeholder="Search" (input)="onQueryPass()" [(ngModel)]="searchText"
          #searchbar />
        <button mat-icon-button (click)="searchClose()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="container-fluid">
      <router-outlet></router-outlet>
    </section>

  </main>
</div>