<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">Add a book</mat-toolbar>
        <mat-card>

            <form [formGroup]="createbookForm" #formDirective="ngForm" (ngSubmit)="createBook(createbookForm.value)">
                <mat-form-field [style.width.%]="100">
                    <input autofocus type="email" matInput placeholder="title *" formControlName="title">
                    <mat-error *ngIf="!createbookForm.get('title')?.valid">
                        please enter valid title
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.width.%]="100">
                    <input autofocus type=" text" matInput placeholder="authers *" formControlName="authers">
                    <mat-error *ngIf="!createbookForm.get('authers')?.valid">
                        please enter valid authers name
                    </mat-error>
                </mat-form-field>


                <mat-form-field [style.width.%]="100">
                    <input  autocomplete="false" matInput placeholder="shortDescription *"
                        formControlName="shortDescription">
                    <mat-error *ngIf="!createbookForm.get('shortDescription')?.valid">
                        please enter valid description
                    </mat-error>
                </mat-form-field>

                <mat-form-field [style.width.%]="100">
                    <input autocomplete="false" matInput placeholder="category *" formControlName="category">
                    <mat-error *ngIf="!createbookForm.get('category')?.valid">
                        please enter valid category
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.width.%]="100">
                    <input autocomplete="false" matInput placeholder="price *" formControlName="price">
                    <mat-error *ngIf="!createbookForm.get('price')?.valid">
                        please enter valid price
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.width.%]="100">
                    <input autocomplete="false" matInput placeholder="thumbnailUrl *" formControlName="thumbnailUrl">

                    <mat-error *ngIf="!createbookForm.get('thumbnailUrl')?.valid">
                        please enter valid thumbnailUrl
                    </mat-error>
                </mat-form-field>
                <hr>
                <div class=" socialMediaFlex">
                    <button style="width:50%" type="submit" mat-raised-button color="primary"
                        [disabled]="!createbookForm.valid">Submit</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>