<div *ngIf="orderHistoryContent">
  <div class="container">
    <div class="orderHistoryTitle">Order History</div>
  </div>

  <div class="tableTitleContainer">
    <div class="dateTitle">DATE</div>
    <div class="descriptionTitle">DESCRIPTION</div>
    <div class="paymentTitle">PAYMENT</div>
  </div>

  <div class="tableListItemsContainer">
    <div class="date">10/31/17</div>
    <div class="description">
      <div class="title">Professional Plan</div>
      <div class="type">Pay Invoice</div>
    </div>
    <div class="payment">#199.99</div>
  </div>
