<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>
        <mat-card>

            <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="submit(registerForm.value)">
                <mat-form-field [style.width.%]="100">
                    <mat-icon matPrefix>email</mat-icon>
                    <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="!registerForm.get('email')?.valid">
                        please enter valid email
                    </mat-error>

                </mat-form-field>


                <mat-form-field [style.width.%]="100">
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type=" text" matInput placeholder="Username *" formControlName="username">
                    <mat-error *ngIf="!registerForm.get('username')?.valid">
                        please enter valid username
                    </mat-error>
                </mat-form-field>


                <mat-form-field [style.width.%]="100">
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Password *"
                        formControlName="password">
                    <mat-hint>Choose a password of at least eight characters, one uppercase letter and one
                        number</mat-hint>
                    <mat-error *ngIf="!registerForm.get('Password')?.valid">
                        please enter valid password
                    </mat-error>
                </mat-form-field>

                <hr>
                <div class=" socialMediaFlex">
                    <button style="width:50%" type="submit" mat-raised-button color="primary">Submit</button>
                </div>
                <mat-label class="login-hint">
                    if you are a existing user please
                    <span> <a class="login" routerLink="/login">
                            Login</a>
                    </span>
                </mat-label>
            </form>
        </mat-card>
    </div>
</div>