.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://e7.pngegg.com/pngimages/550/997/png-clipart-user-icon-foreigners-avatar-child-face.png');
    background-size: cover;
  }
  .container{
    margin-top: 14%;
    display: flex;
    justify-content: center;
  }