<div style="padding: 13px;  display: flex; justify-content: center; margin-top: 8% ;">
    <mat-card style="width: 60%;box-shadow: 5px 3px 6px 6px #2c0b0b;">
        <mat-card-header>
            <mat-card-title>Your all Cart items</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="cartItems">
            <div class="cart-container">
                <div style="padding: 13px;  display: flex; justify-content: center;height: 35rem"
                    *ngFor="let item of cartItems">
                    <mat-card style="margin-top:5px; width: 300px;">
                        <mat-card-header>
                            <mat-card-title>

                                <div class="input-group">
                                    Quantity :
                                    <input type="button" value="-" class="button-minus" data-field="quantity"
                                        (click)="decreaseItemFromCart(item.productId)">
                                    <input type="number" step="1" max="" [(ngModel)]="item.quantity" name="quantity"
                                        class="quantity-field">
                                    <input type="button" value="+" class="button-plus" data-field="quantity"
                                        (click)="increaseItemFromCart(item.productId)">
                                </div>
                                <div class="calculation-section">
                                    <p>Total : {{item.total}}</p>
                                    <p> Price : {{item.productprice}}</p>
                                    <p>{{item.producttitle | slice: 0:20}}</p>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <p>
                                <!-- {{item.description}} -->
                            </p>
                            <img style="height:63%; width: 100%;" [src]="item.productimage" />
                            <button (click)="removeCartItem(item.productId)"
                                class="remove-item"><mat-icon>restore_from_trash</mat-icon></button>

                        </mat-card-content>
                    </mat-card>
                </div>
                <p></p>
                <p></p>

                <p *ngIf="cartItems.length > 0"><span class="subtotal">SubTotal</span><span class="subtotal-price">-/{{appstate.subtotal}}</span></p>
                <button mat-button class="buy-item" *ngIf="cartItems.length > 0" (click)="placeOrder()">Place order</button>
            </div>
        </mat-card-content>
        <h3 *ngIf="cartItems.length == 0">cart is empty</h3>
    </mat-card>
</div>