<div style="padding: 13px;  display: flex; justify-content: center; margin-top: 8% ;">
    <mat-card style="width: 60%;box-shadow: 5px 3px 6px 6px #2c0b0b;">
        <mat-card-header>
            <mat-card-title>Your all Cart items</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="cartItems">
            <div class="cart-container">
                <div style="padding: 13px;  display: flex; justify-content: center;" *ngFor="let item of cartItems">
                    <mat-card style="margin-top:5px; width: 300px;">
                        <mat-card-header>
                            <mat-card-title>

                                <div class="input-group">
                                    Quantity :
                                    <input type="button" value="-" class="button-minus" data-field="quantity"
                                        (click)="decreaseItemFromCart(item.productId)">
                                    <input type="number" step="1" max="" [(ngModel)]="item.quantity" name="quantity"
                                        class="quantity-field">
                                    <input type="button" value="+" class="button-plus" data-field="quantity"
                                        (click)="increaseItemFromCart(item.productId)">
                                </div>
                                <p>Total : {{item.total}}</p>
                                <p> Price : {{item.productprice}}</p>
                                <p>{{item.producttitle | slice: 0:20}}</p>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <p>
                                <!-- {{item.description}} -->
                            </p>
                            <img style="height:100%; width: 100%;" [src]="item.productimage" />


                        </mat-card-content>
                        <mat-card-actions class="buttons">

                            <button mat-button class="buy-item"> Buy Product</button>
                            <button (click)="removeCartItem(item.productId)"
                                class="remove-item"><mat-icon>restore_from_trash</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <h3 *ngIf="cartItems.length == 0">cart is empty</h3>
    </mat-card>
</div>