<!-- footer -->
<footer class="foot_sec">
    <div class="foot_top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="foot_left">
                <img mat-card-image class="Main-image" src="https://png.pngtree.com/template/20191125/ourmid/pngtree-book-store-logo-template-sale-learning-logo-designs-vector-image_335046.jpg">
              <p>Online Books Store <br>
                1000+ Users already started there journey</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="foot_rt">
              <h3>CONTACTS</h3>
              <p>
                <span>Address: </span>
                Ss-4/237, Xerox Line, Sector 2, Opp Megraj Cinema, Vashi
              </p>
              <p>
                <span>Phone: </span>
                <a href="tel:#">+917978883034</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot_btm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p><a href="#"> Online Book store</a> © 2023. Allright Reserved.</p>
          </div>
          <div class="col-md-6">
            <p>Design and Development By <a href="#"> Anil kumar swain</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>