
ul li {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  align-items: center;
  display: flex;
  height: 64px;
  padding: 0 15px;
}
li.title{
  justify-content: space-between;
}

.title h2{
  margin: 0;
}

li.active a{
  color: #c2185b !important;
}

mat-icon:nth-of-type(1){
  margin-right: 15px;
}