<div class="basic-container">
    <mat-grid-list cols="1" rowHeight="4:1" gutterSize="16px" [style.height]="'200px'">
        <mat-grid-tile *ngFor="let i of cartItems">
            <mat-card [style.width]="'29%'">
                <div fxLayout="row">
                    <div fxFlex="10">
                        <img src="https://images.unsplash.com/photo-1456796148441-485386946471?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=7fb56550a679b93a7cf00b0678d1ad8"
                            alt="Smiley face" width="100%">
                    </div>

                    <div fxFlex fxFlexAlign="center">
                        <div fxLayout="row">
                            This is cat {{i.productId}}
                        </div>
                        <div fxLayout="row">
                            Quantity : {{i.quantity}}
                        </div>
                        <div fxLayout="row">
                            <mat-icon [style.color]="'orange'">star</mat-icon>
                            <mat-icon [style.color]="'orange'">star</mat-icon>
                            <mat-icon [style.color]="'orange'">star</mat-icon>
                            <mat-icon [style.color]="'orange'">star_half</mat-icon>
                        </div>
                    </div>
                    <button (click)="removeCartItem(i.productId)"><mat-icon>restore_from_trash</mat-icon></button>
                    <div fxFlex="10px" fxFlexAlign="center">
                        <button mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>